{% extends '::layout.html.twig' %}

{% block body -%}
    <h1>Restaurateur</h1>

    <div>
        <div>
            <div class="col-xs-3 col-md-1">Id</div>
            <div class="col-xs-9 col-md-11">{{ entity.id }}</div>
        </div>
        <div>
            <div class="col-xs-3 col-md-1">Nom:</div>
            <div class="col-xs-9 col-md-11">{{ entity.name }}</div>
        </div>
        <div>
            <div class="col-xs-3 col-md-1">Description:</div>
            <div class="col-xs-9 col-md-11">{{ entity.description }}</div>
        </div>
    </div>

    <div class="listeActions col-xs-12">
        <div class="actionShow col-xs-3 col-md-1">
            <a href="{{ path('restaurant') }}">
                Retour
            </a>
        </div>
        <div class="actionShow col-xs-2 col-md-1">
            <a href="{{ path('restaurant_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </div>
    </div>
{% endblock %}
