{% extends 'Log210LivraisonBundle:Menu:layout.html.twig' %}

{% import 'Log210CommonBundle:Macro:show.html.twig' as show %}

{% use 'Log210CommonBundle:Generic:show.html.twig' %}

{% block title parent() ~ ' - ' ~ entity %}

{% block breadcrumbs %}
    {{ parent() }}
    <li>{{ entity }}</li>
{% endblock %}

{% block fields %}
    {{ show.text(entity, 'name') }}
    {{ show.relation(entity, 'restaurant') }}
{% endblock %}

{% block actions %}
    <a class="btn btn-default glyphicon glyphicon-chevron-left" href="{{ path('menu') }}">{{ 'back'|trans|capitalize }}</a>
    <a
            class="btn btn-warning glyphicon glyphicon-pencil"
            data-toggle="tooltip"
            data-placement="bottom"
            title="{{ 'edit'|trans|capitalize }}"
            href="{{ path('menu_edit', { 'id': entity.id }) }}">
    </a>
    <a
            class="btn btn-warning glyphicon glyphicon-plus"
            data-toggle="tooltip"
            data-placement="bottom"
            title="{{ 'Ajouter plat'|trans|capitalize }}"
            href="{{ path('plat_new') }}">
    </a>
{% endblock %}

{% block content block('show') %}
