<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Livraison log210 - {% block title %}{% endblock %}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script src="{{ asset('js/jquery.js') }}"></script>

        {% javascripts '%kernel.root_dir%/Resources/public/js/*' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">

        {% stylesheets '%kernel.root_dir%/Resources/public/less/*' %}
            <link href="{{ asset_url }}" rel="stylesheet" media="screen">
        {% endstylesheets %}
    </head>
    <body>
        <div id="document-wrapper">
            <div id="page-header">
                <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
                    <div class="container">
                      {% set tryUser = 'Entrepreneur' %}
                      <button type="button"  class="btn btn-default navbar-btn ">Sign in
                      </button>
                        <!-- <a href="#" class="navbar-brand">Sign in</a> -->
                      {% if tryUser == 'Restaurateur' %}
                      <a href="{{ path('restaurant')}}" class="navbar-brand">Mes Restaurant</a>
                      {% endif %}
                      {% if tryUser == 'Entrepreneur' %}
                        <a href="{{ path('restaurateur')}}" class="navbar-brand">Mes Restaurateur</a>
                        <a href="#" class="navbar-brand">Restaurants</a>
                      {% endif %}

                      {% if tryUser == 'Livreur' %}
                        <a href="#" class="navbar-brand">Mes Commandes</a>
                      {% endif %}

                      {% if tryUser == 'Client' %}
                        <a href="#" class="navbar-brand">Liste de Restaurant</a>
                      {% endif %}

                      </div>
                </nav>

            <div id="page-body">
                <div class="container container-tall">
                    <div class="row">
                        <div class="col-xs-12">
                            {% block body %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
            <div id="page-footer">
                <div class="container">
                    <div class="row">

                    </div>
                </div>
            </div>
        </div>
        <script src="{{ asset('js/bootstrap.js') }}"></script>
    </body>
</html>
