{% extends 'Log210OrderBundle:Restaurant:layout.html.twig' %}

{% import 'Log210CommonBundle:Macro:show.html.twig' as show %}

{% use 'Log210CommonBundle:Generic:show.html.twig' %}

{% block title parent() ~ ' - ' ~ entity %}

{% block breadcrumbs %}
    {{ parent() }}
    <li>{{ entity }}</li>
{% endblock %}

{% block fields %}
    {{ show.text(entity, 'name') }}
    {{ show.text(entity, 'description') }}
    {{ show.text(entity, 'address') }}
    {{ show.text(entity, 'phone') }}
    {{ show.relation(entity, 'restaurateur') }}
{% endblock %}

{% block actions %}
    <a class="btn btn-default glyphicon glyphicon-chevron-left" href="{{ path('restaurant_order') }}">{{ 'back'|trans|capitalize }}</a>

{% endblock %}

{% block side %}
<div class="row">
    {% for menu in entity.menus %}
        <div class="col-lg-12" initial>
            <div class="card card-menu-treeview"  data-href="{{ ngPath('menu_show', {id: 'menu.id'}) }}">
                {{ menu.name}}

            </div>
        </div>
          {% if menu.plats %}
              {% for plat in menu.plats %}
                  <div class="col-lg-12">
                      <div class="card card-plat-treeview" data-href="{{ ngPath('plat_show', {id: 'plat.id'}) }}">
                          {{ plat.name}}
                          <div class="card-action card-action-right card-action-h">
                              <a
                                  class="btn btn-info glyphicon glyphicon-plus-sign"
                                  data-toggle="tooltip"
                                  data-placement="bottom"
                                  data-container="body"
                                  title="{{ 'adddish'|trans|capitalize }}"
                                  href="{{ ngPath('plat_show', { 'id': 'plat.id' }) }}">
                              </a>
                          </div>
                      </div>

                  </div>
              {% endfor %}
          {% endif %}
    {% endfor %}
    {% for menu in entity.menus %}
        <ul>
          <li> {{menu.name}}</li>

              {% if menu.plats %}
                  {% for plat in menu.plats %}

                  <ul>      {{ plat.name }} </ul>

                  {% endfor %}
              {% endif %}

        </ul>
    {% endfor %}

{% endblock %}

{% block content block('show') %}
