{% extends 'Log210OrderBundle:Restaurant:layout.html.twig' %}

{% import 'Log210CommonBundle:Macro:show.html.twig' as show %}

{% use 'Log210CommonBundle:Generic:show.html.twig' %}

{% block title parent() ~ ' - ' ~ entity %}

{% block breadcrumbs %}
    {{ parent() }}
    <li>{{ entity }}</li>
{% endblock %}

{% block fields %}
    {{ show.text(entity, 'name') }}
    {{ show.text(entity, 'description') }}
    {{ show.text(entity, 'address') }}
    {{ show.text(entity, 'phone') }}
    {{ show.relation(entity, 'restaurateur') }}
{% endblock %}

{% block actions %}
{% endblock %}


{% block content %}
 {{ block('show') }}
 <div class="row">
 {% for menu in entity.menus %}
        <div class="col-sm-6">
          <h2>{{ menu.name}}</h2>
          {% if menu.plats %}
              {% for plat in menu.plats %}
                      <div class="card card-plat-treeview">
                          {{ plat.name}}
                          <div class="card-action card-action-right card-action-h">
                              <a
                                  class="btn btn-info glyphicon glyphicon-plus-sign"
                                  data-toggle="tooltip"
                                  data-placement="bottom"
                                  data-container="body"
                                  title="{{ 'adddish'|trans|capitalize }}"
                                  href="#">
                              </a>
                          </div>
                      </div>

              {% endfor %}
          {% endif %}
        </div>
    {% endfor %}
    </div>

    <a class="btn btn-default glyphicon glyphicon-chevron-left" href="{{ path('restaurant_order') }}">{{ 'back'|trans|capitalize }}</a>
{% endblock %}
