{#{% extends "FOSUserBundle::layout.html.twig" %}#}

{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}

<form class="navbar-form" action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <div class="form-group">
	    <input
	      placeholder="{{ 'security.login.username'|trans }}"
	      class="form-control" type="text" id="username"  ng-model="username" name="_username" value="{{ last_username }}" required="required"
	    />
	</div>
    <div class="form-group">
	    <input placeholder="{{ 'security.login.password'|trans }}" class="form-control" ng-model="password" type="password" id="password" name="_password" required="required" />
    </div>
    <div class="form-group">

	    <label for="remember_me">
	    	<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
	    	{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
	    </label>
    </div>
    <input type="submit" id="_submit" name="_submit" class="btn btn-default navbar-btn" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
    <a href="{{path('client_new')}}" class="btn btn-primary navbar-btn"> {{'signup'|trans}}</a>
</form>
{% endblock fos_user_content %}
