{% extends 'Log210LivraisonBundle:Restaurant:layout.html.twig' %}

{% block content %}
    <h1>Liste des Restaurants</h1>
    
    <div class="container">
  <table class="table table-hover">
    <thead>
      <tr>

        <th>'name'|trans|capitalize</th>
        <th>'description'|trans|capitalize</th>
        <th>'adresse'|trans|capitalize</th>
        <th>'restaurateur'|trans|capitalize</th>
        <th>'action'|trans|capitalize</th>
      </tr>
    </thead>
    <tbody>
      {% for entity in entities %}
          <tr>
                <td>
                    <a href="{{ path('restaurant_show', { 'id': entity.id }) }}">{{ entity.name }}</a>
                </td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.address }}</td>
                <td>{{ entity.restaurateur }}</td>
                <td>
                    <a class="glyphicon glyphicon-edit" href="{{ path('restaurant_edit', { 'id': entity.id }) }}" rel="tooltip" title="'edit'|trans|capitalize"></a>
                    <a class="glyphicon glyphicon-remove"
                        href="{{ path('restaurant_unsafe_delete', { 'id': entity.id }) }}"
                        onclick="return confirm('Voulez-vous vraiment supprimer ce restaurant?')"
                        rel="tooltip"
                        title="'delete'|trans|capitalize">
                    </a>
                </td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
        <ul>
        <li>
            <a href="{{ path('restaurant_new') }}">
                'newRestaurant'|trans
            </a>
        </li>
    </ul>
    {% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <li>{{ 'list'|trans|capitalize }}</li>
{% endblock %}
