{% extends 'Log210LivraisonBundle:Restaurant:layout.html.twig' %}

{% import 'Log210CommonBundle:Macro:show.html.twig' as show %}

{% use 'Log210CommonBundle:Generic:show.html.twig' %}

{% block title parent() ~ ' - ' ~ entity %}

{% block breadcrumbs %}
    {{ parent() }}
    <li>{{ entity }}</li>
{% endblock %}

{% block fields %}
    {{ show.text(entity, 'name') }}
    {{ show.text(entity, 'description') }}
    {{ show.text(entity, 'address') }}
    {{ show.text(entity, 'phone') }}
    {{ show.relation(entity, 'restaurateur') }}
{% endblock %}

{% block actions %}
    <a class="btn btn-default glyphicon glyphicon-chevron-left" href="{{ path('restaurant') }}">{{ 'back'|trans|capitalize }}</a>
    <a 
        class="btn btn-warning glyphicon glyphicon-pencil"
        data-toggle="tooltip"
        data-placement="bottom"
        title="{{ 'edit'|trans|capitalize }}"
        href="{{ path('restaurant_edit', { 'id': entity.id }) }}">
    </a>
{% endblock %}

{% block side %}
    {% embed 'Log210CommonBundle:Generic:sidePanel.html.twig' with { title: 'plats', entity: entity } only %}
        {% block content %}
            {% embed 'Log210CommonBundle:Generic:ajaxToolbox.html.twig' with { module: 'listing', fetch: path('restaurant_api_get_all_menus', {restaurant_id: entity.id}), entity: entity } only %}
                {% block content %}
                    <div class="row">
                        <div ng-repeat="menu in menus">
                            <div class="col-lg-12">
                                <div class="card card-plat" data-href="{{ ngPath('menu_show', {id: 'menu.id'}) }}" initial>
                                    {{ 'menu.name'|ngExpr }}
                                    <div class="card-action card-action-right card-action-h">
                                        <a
                                            class="btn btn-info glyphicon glyphicon-search"
                                            data-toggle="tooltip"
                                            data-placement="bottom"
                                            data-container="body"
                                            title="{{ 'show'|trans|capitalize }}"
                                            href="{{ ngPath('plat_show', { 'id': 'menu.id' }) }}">
                                        </a>
                                        <a
                                            class="btn btn-warning glyphicon glyphicon-pencil"
                                            data-toggle="tooltip"
                                            data-placement="bottom"
                                            data-container="body"
                                            title="{{ 'edit'|trans|capitalize }}"
                                            ng-click="edit(menu.id)">
                                        </a>
                                        <a
                                            class="btn btn-danger glyphicon glyphicon-trash"
                                            data-toggle="tooltip"
                                            data-placement="bottom"
                                            data-container="body"
                                            title="{{ 'delete'|trans|capitalize }}"
                                            ng-click="delete(menu.id)">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <a class="btn-card card-plat" ng-click="add()">
                                <div class="button-card-content">
                                    <div class="card-icon glyphicon glyphicon-plus"></div>
                                    <div class="card-label">{{ 'newMenu'|trans }}</div>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endblock %}
                {% block controller %}
                    $scope.menus = [];

                    $scope.fetchSuccess = function (data) {
                        $scope.menus = data;
                    };

                    $scope.delete = function (id) {
                        $scope.makeModal(Routing.generate('menu_delete_form', {'id': id}), $scope.postModal)();
                    };

                    $scope.edit = function (id) {
                        $scope.makeModal(Routing.generate('menu_edit_modal', {'id': id}), $scope.postModal)();
                    };

                    $scope.add = function () {
                        $scope.makeModal('{{ path('menu_new_modal', {restaurant: entity.id}) }}', $scope.postModal)();
                    };
                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block content block('show') %}
