{% extends 'Log210LivraisonBundle:Restaurant:layout.html.twig' %}

{% import 'Log210CommonBundle:Macro:show.html.twig' as show %}

{% use 'Log210CommonBundle:Generic:show.html.twig' %}

{% block title parent() ~ ' - ' ~ entity %}

{% block breadcrumbs %}
    {{ parent() }}
    <li>{{ entity }}</li>
{% endblock %}

{% block fields %}
    {{ show.text(entity, 'name') }}
    {{ show.text(entity, 'description') }}
    {{ show.text(entity, 'address') }}
    {{ show.text(entity, 'phone') }}
    {{ show.relation(entity, 'restaurateur') }}
{% endblock %}

{% block actions %}
    <a class="btn btn-default glyphicon glyphicon-chevron-left" href="{{ path('restaurant') }}">{{ 'back'|trans|capitalize }}</a>
    <a 
        class="btn btn-warning glyphicon glyphicon-pencil"
        data-toggle="tooltip"
        data-placement="bottom"
        title="{{ 'edit'|trans|capitalize }}"
        href="{{ path('restaurant_edit', { 'id': entity.id }) }}">
    </a>
{% endblock %}

{% block content block('show') %}
